@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

h1 {
  align-content: center;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 80px !important;
}
