.teams-submenu {
  width: 10.35rem;
  position: absolute;
  top: 59px;
  list-style: none;
  text-align: start;
}

.teams-submenu li {
  background: #013369;
  cursor: pointer;
}

.teams-submenu.clicked li {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.submenu-team-image {
  height: 60%;
  width: 60%;
}

.submenu-item:hover {
  background: lightskyblue;
}
