.gameContainer {
  background: #d9d9d9;
  height: 75px;
  text-align: justify;
  align-content: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.gameDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  text-align: center;
}

.network {
  flex: 1;
  text-align: left;
  padding-left: 5px;
}

.teams {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon {
  margin: 5px;
}

.venue {
  flex: 1;
  text-align: right;
  padding-right: 5px;
}
