.gameContainer {
  align-items: center;
  margin-top: 4rem;
  margin-left: 25rem;
  width: 50%;
}

.scheduledDate {
  margin-top: 3rem;
  text-align: center;
}

.gameWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loadingState i {
  opacity: 0.5;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

.dropdown {
  margin-top: 30px;
  margin-left: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive styles */
@media (min-width: 1200px) {
  .gameContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .scheduledDate {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .gameContainer {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .scheduledDate {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .gameContainer {
    margin-left: 1.5rem;
    width: 90%;
  }

  .scheduledDate {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .gameContainer {
    width: 100%;
    margin-right: 20px;
  }

  .scheduledDate {
    margin-left: 0;
  }
}
