.gameContainer {
  margin-top: 5rem;
  margin-left: 25rem;
  width: 50%;
}

.scheduledDate {
  margin-left: 38rem;
  margin-top: 3rem;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loadingState i {
  opacity: 0.5;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

.dropdown {
  margin-top: 30px;
  margin-left: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
