.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

.teamCell {
  display: flex;
  align-items: center;
}

.teamIcon {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #d9d9d9;
}

.nfc-table {
  margin-top: 5rem;
}

.nfc-east-table {
  margin-top: 5rem;
}

caption,
th,
td {
  padding: 0.5rem;
}

caption {
  background: #013369;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.01);
}

td {
  text-align: center;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loadingState i {
  opacity: 0.5;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

/* Responsiveness */
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 1200px) {
  .table-caption {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .table-caption {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .table-caption {
    text-align: left;
  }
}
